<!-- templates/settings.html -->
{% extends 'base.html' %}

{% block title %}Настройки{% endblock %}

{% block content %}
    <h2 class="mb-4">Настройки</h2>
    <form method="post" action="{{ url_for('main.settings') }}">
        {{ form.hidden_tag() }}  <!-- CSRF-токен -->
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="Введите новое имя пользователя") }}
            {% for error in form.username.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Введите новый пароль") }}
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control", placeholder="Подтвердите новый пароль") }}
            {% for error in form.confirm_password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
